div.navbar.navbar-default
  ul.nav.navbar-nav
    if doNotShowHeaders
      li
        a(href='/authenticate') Authenticate
    else
      li
        a(href='/upvoted') Upvoted
      li
        a(href='/keys') Keys
      li
        a(href='/charts') Charts
      li
        a(href='/authors') Authors
      li
        a(href='/sandbox') Sandbox

link(rel='stylesheet', href='/css/style.css')
link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
