html
  head
    title Upvoted authors
  body
    include includes/header.pug
    h2 List of most upvoted authors by u/#{user.name} with a limit of #{limit}
    ul
      each author, i in authors
        li
          a(href='https://www.reddit.com/u/'+author[0]+'/submitted?sort=top')= author[0]
          = " - " + author[1]
