html
  head
    title Charts
  body
    include includes/header.pug
    div.container
      canvas#myChart
    script(src='scripts/Chart.min.js')
    script.
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: !{data},
        options: !{options}
      });
