html
  head
    title Error !
  body
    include includes/header.pug
    div.container
      h2 404 Error: could not find route "localhost/#{url}". Go back to your most upvoted subreddits #[a(href="/upvoted") here]
        
