html
  head
    title Stats for Reddit
  body
    include includes/header.pug
    div.container
      h2 Welcome to Stats for Reddit !
      h3 Please authenticate in order to use the Reddit API and discover your most upvoted subreddits and authors.
