a, a:visited {
  text-decoration: none;
}
.counter{
  background-color: #636c72;
  float:right;
}
.controlled-width{
  max-width: 700px;
  max-height: 900px;
}
.plus{
  width: 27px;
  height: 27px;
}
.plus:hover{
  border-radius: 20px;
  background-color: grey;
}
.plus:active{
  background-color: #565456;
}
